{% extends "base.html" %}
{% block content %}

    <h3>Add Recipe</h3>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 offset-s6">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s6">
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled selected>Select Category</option>
                      {% for category in categories %}
                        <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                      {% endfor %}
                    </select>
                    <labelee for="category_name">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="method" name="method" class="materialize-textarea"></textarea>
                    <label for="method">Method</label>
                </div>
            </div>
            <div class ="row">
                <div class="col s12 right-align">
                    <button type="submit" class="btn-large red darken-1">Add Recipe</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
